*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url(../assets/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

label {
  color: white;
}

form {
  width: 500px;
  padding: 30px;
  color: white;
  background: rgba(36, 36, 36, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(100, 64, 64, 0.1);
  backdrop-filter: blur(13.8px);
  -webkit-backdrop-filter: blur(13.8px);
}

h1 {
  font-size: 52px;
}

a {
  text-decoration: none;
}

.container-fluid {
  display: flex;
  padding: 0;
  height: 100%;
}

.homey,
.loginbox {
  padding: 100px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.list-user {
  width: 800px;
  padding: 40px;
  color: white;
  background: rgba(36, 36, 36, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.8px);
  -webkit-backdrop-filter: blur(13.8px);
}

.mb-3 {
  margin: 0;
}

.table {
  color: white;
}

.ttl-user,
.hgst-scr {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn-action {
  width: 30px;
  margin: 0;
  padding: 0;
}

.cardous {
  width: 300px;
  height: 300px;
  padding: 20px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(36, 36, 36, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.8px);
  -webkit-backdrop-filter: blur(13.8px);
}

.dtl-user {
  width: 600px;
  padding: 20px;
  color: white;
  background: rgba(36, 36, 36, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.8px);
  -webkit-backdrop-filter: blur(13.8px);
}

.cardous2 {
  width: 600px;
  color: white;
  background: rgba(36, 36, 36, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.8px);
  -webkit-backdrop-filter: blur(13.8px);
}

.btn {
  padding: 10px;
}

#form-create {
  width: 500px;
  /* height: 70%; */
  padding: 30px;
  color: white;
  background: rgba(36, 36, 36, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(100, 64, 64, 0.1);
  backdrop-filter: blur(13.8px);
  -webkit-backdrop-filter: blur(13.8px);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* ========================================== */
