<title>Dashboard</title>
<div class="cardous ttl-user">
  <h3>Total User</h3>
  <h1><%= jumlahUser %></h1>
</div>

<div class="cardous hgst-scr">
  <h3>Highest Score</h3>
  <h1><%= leaderboard[0].score %></h1>
</div>
